@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

label {
    display: block;
    cursor: pointer;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
